# folder
.vscode

experiments/*
!experiments/pretrained_models
experiments/pretrained_models/*
# !experiments/pretrained_models/SRResNet_bicx4_in3nf64nb16.pth
!experiments/pretrained_models/README.md

results/*
tb_logger/*

# file type
*.svg
*.pyc
*.t7
*.caffemodel
*.mat
*.npy

# latex
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz

# TODO
data_samples/samples_byteimg
data_samples/samples_colorimg
data_samples/samples_segprob
data_samples/samples_result