# folder
.vscode
results
tb_logger
experiments/*
!experiments/pretrained_models
experiments/pretrained_models/*
!experiments/pretrained_models/SRResNet_bicx4_in3nf64nb16.pth
!experiments/pretrained_models/README.md

data/samples_byteimg
data/samples_colorimg
data/samples_segprob
data/samples_result

# file type
*.svg
*.pyc
*.t7
*.caffemodel
*.mat
*.npy

# latex
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
